<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css" crossorigin="anonymous">
    <title>유한누리 상담사 페이지</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
    <style>
		.pr_10{
			padding-right:10px;
		}
		.pr_30{
			padding-right:30px;
		}
		.dropdown-toggle::after{
			margin-left: 10% !important;
		}
        .dropTitle {
            float: left;
            margin: 0 !important;
            text-align: left;
			width:inherit;
        }
        .custom-list-item {
            width: 100%;
        }
        .custom-btn-position {
            float: right;
            margin-top: -7px;
        }
        .btn-secondary {
            background-color: #fafbfd;
        }
        .btn-secondary:hover {
            background-color: #fafbfd;
        }
        .btn-secondary:focus {
            background-color: #fafbfd;
        }
        .show>.btn-secondary.dropdown-toggle {
            background-color: #fafbfd !important;
        }
    </style>
</head>

<body class="c-app">
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">관리자 삭제 하기</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<form>
				  <div class="form-group">
					<label for="type-name" class="col-form-label">안전한 삭제를 위해 확인 절차가 필요합니다.</label>
					<input type="text" class="form-control" id="delete-type" placeholder="삭제할 아이디를 입력해 주세요.">
				  </div>
					<p id="deleteError"></p>
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="exitModal()">닫기</button>
				<button type="button" class="btn btn-primary" id="deleteBtn" onClick="deleteCheck('#delete-type')">삭제하기</button>
			  </div>
			</div>
		  </div>
	</div>
	<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
		<form action="updateCounselor" method="POST">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="updateModalLabel">관리자 수정 하기</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
				<div class="modal-body">
					<div class="form-group">
						<label for="type-name" class="col-form-label">수정 대상</label>
						<input type="text" class="form-control" id="empIdToken" name="empid" readonly>
					</div>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="positionList">직책</label>
						<select class="form-control" id="positionList" name="position">
						  <option value="1">교직원</option>
						  <option value="2">근로 학생</option>
						</select>
					</div>
				</div>
			  	<div class="modal-body">
				  <div class="form-group">
					<label for="type-name" class="col-form-label">이름을 입력해 주세요.</label>
					<input type="text" class="form-control" id="update-name" name="updateEmpName" required>
				  </div>
			  	</div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
				<button type="submit" class="btn btn-primary" id="updateBtn">수정하기</button>
			  </div>
			</div>
		  </div>
		</form>
	</div>
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <%- include ('adminNav'); -%>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
            data-class="c-sidebar-minimized"></button>
    </div>
    <div class="c-wrapper c-fixed-components">
        <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
            <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar"
                data-class="c-sidebar-show">
                <i class="cil-hamburger-menu"></i>
            </button><a class="c-header-brand d-lg-none" href="#">
                <i class="cil-hamburger-menu"></i></a>
            <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
                data-class="c-sidebar-lg-show" responsive="true">
                <i class="cil-hamburger-menu"></i>
            </button>
            <ul class="c-header-nav ml-auto mr-4">
                <%- include ('adminAccount'); -%>
            </ul>
            <div class="c-subheader px-3">
                <!-- Breadcrumb-->
                <ol class="breadcrumb border-0 m-0">
					<li class="breadcrumb-item">관리자</li>
                    <li class="breadcrumb-item active">관리자 계정 관리</li>
                </ol>
				<!-- Breadcrumb Menu-->
            </div>
        </header>
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="card">
                            <div class="card-body">
                                <div class="m-auto" style="width:80%;">
                                    <div class="m-auto" style="width:85%;">
                                        <h4 class="card-title">관리자 계정 관리</h4>
                                        <table class="table" style="border-bottom:1px solid #dee2e6">
                                            <thead>
                                              <tr>
                                                <th scope="col">아이디</th>
                                                <th scope="col">이름</th>
                                                <th scope="col">권한</th>
                                                <th scope="col">설정</th>
                                              </tr>
                                            </thead>
                                            <tbody>
												<%result.forEach(function(v,i){%>
													<tr>
														<th scope="row"><%=v.empid%></th>
														<td><%=v.empname%></td>
														<td>
															<%=v.positionno===1 ? '교직원' : '근로학생'%>
														</td>
														<td>
															<% if(v.empid==='admin') { %>
															<button type="button" class="btn btn-secondary" style="pointer-events: none;" disabled>수정</button>
															<button type="button" class="btn btn-secondary ml-1" style="pointer-events: none;" disabled>삭제</button>
															<% }else { %>
															<button type="button" class="btn btn-success" data-toggle="modal" data-target="#updateModal"
																	onClick="giveInformation('<%=v.empname%>','<%=v.positionno%>','<%=v.empid%>')">수정</button>
															<button type="button" class="btn btn-danger ml-1" data-toggle="modal" data-target="#deleteModal"
																	onClick="checkDelete('<%=v.empid%>')">삭제</button>
															<% } %>
														</td>
												  	</tr>
												<%})%>
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="c-footer">
                <div><a href="https://coreui.io">CoreUI</a> &copy; 2020 creativeLabs.</div>
                <div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div>
            </footer>
        </div>
    </div>
    <script>
		let checkId="";
		
		const setChoiceType=(chType)=>{
			choiceType=chType;
		}
		
		function exitModal(e){
			
		}
		function checkDelete(id){
			checkId=id;
			$('#deleteError').text('');
			document.querySelector('#delete-type').value='';
		}
		
		function deleteCheck(deleteType){
			const deleteItem=$(deleteType).val();
			if(deleteItem===checkId){
				$.ajax({
					type:'POST',
					dataType:'json',
					url:'./deleteCounselor',
					async:true,
					data:{"deleteId" : checkId},
					success:function(data){
						if(data==='ok'){
							window.location.reload();
						}
					}
				});
				item="";
			}else{
				$('#deleteError').css('color','#f05454');
				$('#deleteError').text('아이디가 일치하지 않습니다.');
			}
		}
		function giveInformation(name,position,id){
			document.querySelector('#update-name').value=name;
			$("#positionList").val(position).prop("selected", true);
			document.querySelector('#empIdToken').value=id;
		}
    </script>
    <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
</body>

</html>