<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css" crossorigin="anonymous">
    <title>유한누리 상담사 페이지</title>	
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
	<style>
		.pr_10{
			padding-right:10px;
		}
		.pr_30{
			padding-right:30px;
		}
		.ques_btn{
			position: relative;
    		top: -40px;
		}
	</style>
</head>
<body class="c-app">
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">답변 남기기</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="exitModal()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">답변 내용:</label>
            <textarea class="form-control" id="message-text" rows=10></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onClick="exitModal()" data-dismiss="modal" id="close_modal">닫기</button>
        <button type="button" class="btn btn-primary" id="update_question">답변전송</button>
      </div>
    </div>
  </div>
</div>
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
                <%- include ('adminNav'); -%>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
            data-class="c-sidebar-minimized"></button>
    </div>
    <div class="c-wrapper c-fixed-components">
        <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
            <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar"
                data-class="c-sidebar-show">
                <i class="cil-hamburger-menu"></i>
            </button><a class="c-header-brand d-lg-none" href="#">
                <i class="cil-hamburger-menu"></i></a>
            <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
                data-class="c-sidebar-lg-show" responsive="true">
                <i class="cil-hamburger-menu"></i>
            </button>
			<ul class="c-header-nav ml-auto mr-4">
                <%- include ('adminAccount'); -%>
            </ul>
            <div class="c-subheader px-3">
                <ol class="breadcrumb border-0 m-0">
					<li class="breadcrumb-item">문의</li>
                    <li class="breadcrumb-item active">문의 대기 리스트</li>
                </ol>
            </div>
        </header>
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h4 class="card-title mb-0">문의 대기 리스트</h4>
                                    </div>
                                </div>
							</div>
								<% selectList.forEach(function(val,i){ %>
								<div class="card-body list-group-item border-left-0 border-right-0">
									<table style="margin-bottom:35px;">
										<tr style="font-size:17px;">
											<td style="padding-right:10px;"><b>학번</b></td>
											<td style="padding-right:30px;"><%=val.stuno%></td>
											<td style="padding-right:10px;"><b>이름</b></td>
											<td style="padding-right:30px;"><%=val.stuname %></td>
											<td style="padding-right:10px;"><b>질문일자</b></td>
											<td style="padding-right:30px;"><%let dateArr = val.date.split('-');%><%=dateArr[0]+"년 "+dateArr[1]+"월 "+dateArr[2]+"일"%></td>
											<td style="padding-right:10px;"><b>연락처</b></td>
											<td style="padding-right:30px;"><%=val.phonenum %></td>
										</tr>
									</table>
									<label style="font-size:120%;"><b>제 목</b></label>
									<p class="card-text mb-4"><%= val.title %></p>
									<label style="font-size:120%;"><b>문의 유형</b></label>
									<p class="card-text mb-4"><%= val.type %></p>
									<label style="font-size:120%;"><b>내 용</b></label>
									<p class="card-text" id="ques_content"><%= val.content%></p>
									<button type="button" class="btn btn-primary float-right " data-toggle="modal" data-target="#exampleModal"
											onClick="giveData(<%=val.no%>)">답변하기</button>
                                </div>
								<% }) %>
                        </div>
                    </div>
                </div>
            </main>
			<script>
				let updateNumber;
				function exitModal(){
					document.querySelector('#message-text').value='';
				}
				function giveData(str){
					updateNumber=str;
					document.querySelector('#message-text').value='';
				}
				$(function () {
				$('#update_question').click(function(e) {
						$.ajax({
						type: "POST",
						dataType: "json",
						url: "./saveQuestion",
						async: true,
						data: { "sendData" : $('#message-text').val(), "sendNumber":updateNumber },
						success: function (data) { 
							if(data.state==='ok'){
								window.location.reload();
							}else if(data.state==='overlapped'){
								$('#close_modal').trigger('click');
								$('.c-main').prepend(`<div class="alert alert-warning alert-dismissible fade show" role="alert">
							  <strong>중복!</strong> 답변을 누가 먼저 남겼나봐요! <a href="#" class="alert-link" onClick="history.go(0)">새로고침</a>을 눌러주세요!
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>`);
							}else{
								$('.c-main').prepend(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
							  <strong>저장 실패!</strong> 이런! 다시 한번 더 확인 해보아요!
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>`);
							}
						}
					});

				});
			});
				
			</script>
            <footer class="c-footer">
                <div><a href="https://coreui.io">CoreUI</a> &copy; 2020 creativeLabs.</div>
                <div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div>
            </footer>
        </div>
    </div>
	<script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
</body>

</html>

