<!DOCTYPE html>
<html>
	<head>
		<title>유한대학교 학생상담센터</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			  crossorigin="anonymous">
		
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"
				integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
				crossorigin="anonymous">
		</script>
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
				integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
				crossorigin="anonymous">
		</script>
		<style>
			html, body{
    			position: fixed;
                height: 100% !important;
				width: 100% !important;
            }
            .card{
                height: inherit;
				width: 100%;
				border-top: 0 !important;
            	border-radius: 0 !important;
            }
            .msg_card_body{
                overflow-y: auto;
				margin-top: 5% !important;
            }
            .card-footer{
                border-top: 0 !important;
            }
            .type_msg{
				background-color: #EAEAEA !important;
                border: 0 !important;
                color:black !important;
                height: 50px !important;
                overflow-y: auto;
				padding-bottom: 10px;
            }
            .type_msg:focus{
                box-shadow:none !important;
                outline:0px !important;
            }
            .send_btn{
				padding-right: 1.3rem;
				background-color: #EAEAEA !important;
                border: 0 !important;
                cursor: pointer;
            }
            .msg_cotainer{
                margin-top: auto;
                margin-bottom: auto;
                border-radius: 0.5rem;
                padding: 10px;
                position: relative;
				max-width: 70%;
				text-align: left;
				background-color: #EAEAEA !important;
            }
            .msg_cotainer_send{
                margin-top: auto;
                margin-bottom: auto;
                border-radius: 0.5rem;
                padding: 10px;
                position: relative;
				max-width: 70%;
				text-align: left;
				color: white;
            }
            .msg_time{
                position: relative;
                margin-left: 5px;
				margin-top: auto;
                color: rgba(0,0,0,0.5);
                font-size: 10px;
            }
            .msg_time_send{
                position: relative;
				margin-right: 5px;
				margin-top: auto;
                color: rgba(0,0,0,0.5);
                font-size: 10px;
            }
            .msg_name{
                position: absolute;
                left: 3px;
                top: -23px;
                color: rgba(0,0,0,0.7);
                font-size: 15px;
                font-weight: bold;
				min-width: 130px;
				text-align: left;
            }
            .msg_name_send{
                position: absolute;
                right: 7px;
                top: -23px;
                color: rgba(0,0,0,0.7);
                font-size: 15px;
                font-weight: bold;
				min-width: 130px;
				text-align: right;
            }
            .msg_head{
                position: relative;
            }
			.align_spinner{
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
			}
			.msg_card_body::-webkit-scrollbar{
				width:7px;
			}
			.msg_card_body::-webkit-scrollbar-thumb{
				border-radius:3px;
				background:rgba(0,0,0,0.3);
			}
			.table td{
				padding:.75rem 0 0 0 !important;
			}
			.hide-table-padding{
				padding:0 !important;
			}
		</style>
	</head>
	<body class="container">
		<div class="row" style="height:50px; margin-bottom:20px;">
			<div class="col mt-2 align-self-center">
				<label style="font-size:180%;">마이페이지</label>
			</div>
		</div>
		<div class="row">
			<div class="form" style="width:100%;">
				<ul class="nav nav-tabs">
					<li class="nav-item ml-3">
						<a class="nav-link" data-toggle="tab" href="#reservation" id="reserv">예약확인</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#question" id="quest">문의내역</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#chatting" id="chat">채팅</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-content" style="height:80%;">
			<div class="tab-pane" style="padding:0rem!important;" id="reservation">
				<%if(reservationBoard.length===0){%>
				<div align=center style="margin-top:15%">예약한 내역이 없습니다!</div>
				<%}else{%>
				
				<table class="table table-borderless mt-3" style="border-bottom:1px solid #dee2e6;">
					
					<%if(isReservationType === 1){%>
						<tr>
							<th scope="row" style="width:45%;">상담유형</th>
							<td style="color:#5a5a5a;"><%=reservationBoard[0].typename%></td>
						</tr>
						<tr>
							<th scope="row">상담사명</th>
							<td style="color:#5a5a5a;"><%=reservationBoard[0].empname%></td>
						</tr>
						<tr>
							<th scope="row">예약날짜</th>
							<td style="color:#5a5a5a;"><%let dateArr = reservationBoard[0].date.split('-'); %>
								<%=dateArr[0]+"년 "%><%=dateArr[1]+"월 "%><%=dateArr[2]+"일"%>
							</td>
						</tr>
						<tr>
							<th scope="row">시작시간</th>
							<td style="color:#5a5a5a;"><%if(reservationBoard[0].starttime < 12){%>
									오전 <%=reservationBoard[0].starttime%>시
								<%}else{%>
									오후 <%=reservationBoard[0].starttime - 12%>시	
								<%}%>
							</td>
						</tr>
						<tr style="height:65px;">
							<th scope="row">접수현황</th>
							<%if(reservationBoard[0].status === 0 && reservationBoard[0].finished === 0 && reservationBoard[0].research === 0){%>
								<td><label style="color:red; margin:0px;">접수 중</label>&nbsp;<label style="font-size:80%; color:gray;">(확정 시 '완료'로 변경됨)</label></td>
							<%}else if(reservationBoard[0].status === 1 && reservationBoard[0].finished === 0 && reservationBoard[0].research === 0){%>
								<td style="color:green;">접수 완료</td>
							<%}else if(reservationBoard[0].status === 1 && reservationBoard[0].finished === 1 && reservationBoard[0].research === 0){%>
								<td style="color:green;">상담 완료</td>
							<%}%>
						</tr>
					<%}else{%>
							<tr>
								<th scope="row" style="width:45%;">상담유형</th>
								<td style="color:#5a5a5a;">심리검사</td>
							</tr>
							<tr>
								<th scope="row">검사목록</th>
								<td style="color:#5a5a5a;">
								<%for(let i=0; i<reservationBoard.length; i++){%>
									<%=reservationBoard[i].testname%><br/>
								<%}%>
								</td>
							</tr>
							<tr style="height:65px;">
								<th scope="row">접수현황</th>
								<%if(reservationBoard[0].status === 0 && reservationBoard[0].finished === 0 && reservationBoard[0].research === 0){%>
								<td><label style="color:red; margin:0px;">접수 중</label>&nbsp;<label style="font-size:80%; color:gray;">(확정 시 '완료'로 변경됨)</label></td>
							<%}else if(reservationBoard[0].status === 1 && reservationBoard[0].finished === 0 && reservationBoard[0].research === 0){%>
								<td style="color:green;">접수 완료</td>
							<%}else if(reservationBoard[0].status === 1 && reservationBoard[0].finished === 1 && reservationBoard[0].research === 0){%>
								<td style="color:green;">접수 완료</td>
							<%}%>
							</tr>
					<%}%>
				</table>
				<form method="POST">
					<%if(reservationBoard[0].status === 0){%>
						<input type="hidden" id="cancelSerialno" name="btnCancelReservation" value="<%=reservationBoard[0].serialno%>">
						<input type="submit" id="cancelSubmit" class="btn btn-primary pull-right" value="취 소" style="padding:.300rem .60rem">
					<%}%>
				</form>
					<%if(reservationBoard[0].status === 1 && reservationBoard[0].finished === 1 && reservationBoard[0].research === 0){%>
						<input type="button" class="btn btn-success pull-right" onclick = "location.replace('/user/satisfaction');" value="만족도조사">
					<%}%>
				<%}%>
			</div>
			<div class="tab-pane" style="padding:0rem!important; height:100%; overflow:scroll;" id="question">
				<%if(questions.length===0){%>
				<div align=center style="margin-top:15%">문의한 내역이 없습니다!</div>
				<%}else{%>
				<table class="table table-borderless" style="border-bottom:1px solid #dee2e6;">
                    <tbody>
						<%questions.forEach(function(v,i){%>
						<%if(isAnswerList[i]==='완료'){%>
							<tr style="height:50px;" data-toggle="collapse" href="#collapse<%=i%>">
								<td style='width: 20%; color:green; font-size: 0.9em;'>완 료</td>
								<td align=center style="font-size: 0.9em; width: 50%;"><%=v.title%></td>
								<td align=right style="font-size: 0.9em; width:20%;"><%=v.date%></td>
							</tr>
							<tr>
								<td colspan="3" style="padding:0 !important;">
									<div id="collapse<%=i%>" class="collapse in p-3" style="height:0px;">
										<h5 >
											<label style="margin:0px;">내 용</label>
										</h5>
										<p class="mb-5" style="color:#5a5a5a;">
											<%= v.content%>
										</p>
										<h5>
											<label style="margin:0px;">답 글</label>
										</h5>
										<p style="color:#5a5a5a;">
											<%=v.answer%>
										</p>
									</div>
								</td>
							</tr>
							<%}else{%>
							<tr style="height:50px;" data-toggle="collapse" href="#collapse<%=i%>">
								<td style="width: 20%; font-size: 0.9em;">미완료</td>
								<td align=center style="font-size: 0.9em; width: 50%;"><%=v.title%></td>
								<td align=right style="font-size: 0.9em; width:20%;"><%=v.date%></td>
							</tr>
							<tr>
								<td colspan="3" style="padding:0 !important;">
									<div id="collapse<%=i%>" class="collapse in p-3">
										<h5 >
											<label style="margin:0px;">내 용</label>
										</h5>
										<p class="mb-2" style="color:#5a5a5a;">
											<%= v.content%>
										</p>
									</div>
								</td>
							</tr>
							<%}%>
						<%})%>
                    </tbody>
                  </table>
				<%}%>
			</div>
			<div class="tab-pane" id="chatting" style="margin-left: -15px; margin-right: -15px;">
				<div class='align_spinner' id='chattingLoad'>
					<div class='spinner-border text-primary'></div>
				</div>
				<a id="waitingMsg" style="position:absolute; display:none; text-align:center; top:57%;
										  transform:translateY(-50%); left:50%; transform:translateX(-50%);">
					상담 대기 중입니다. <br/>
					잠시만 기다려 주세요.
				</a>
			</div>
		</div>
		
		<script src="/socket.io/socket.io.js"></script>
		<script>
			$(function() {
				if($('#cancelSubmit')) {
					let cancel = io('/reaction', {transports:['websocket']});
					
					$('#cancelSubmit').click(function(e) {
						cancel.emit('cancel', $('#cancelSerialno').val());
					});
				}
				
				if(location.search.includes("chatting")) {
					$("#chatting").addClass("show active");
					$("#chat").addClass("active");
					window.history.replaceState(null, null, window.location.pathname);
				}
				else {
					$("#reservation").addClass("show active");
					$("#reserv").addClass("active");
					window.history.replaceState(null, null, window.location.pathname);
				}
				
				const myname = "<%= stuName %>";
				const mycode = "<%= stuCode %>";
				const empid = "<%= empid %>";
				
				<% if(isChatting === 0) { %>
						$("#chatting").append(`
							<center style="margin-top:10%;">
								<div style="font-size:1.3em; color:#565656;">예약된 채팅상담이 없습니다.</div>
								<div id="fresh" style="font-size:1.2em; color:#828282; margin-top:5%; cursor:pointer;">
									새로고침 &nbsp <i class="fa fa-refresh" aria-hidden="true" style="color:#777;"></i>
								</div>
							</center>
						`);
				
						$("#chattingLoad").remove();
						
						$("#fresh").click(function(e) {
							$(".fa-refresh").addClass('fa-spin');
							location.replace(location.origin+location.pathname+"?chatting");
						});
				<% } else if(isChatting === 1) { %>
						const socket = io('/chat', {transports:['websocket']});
				
						let isInit = 0;
				
						$("#waitingMsg").css('display', 'block');
				
						socket.emit("waiting", {
							name: myname,
							code: mycode,
							empid: empid
						});
				
						socket.on("okay", function(chatlog) {
							if(isInit === 0) {
								isInit = 1;
								$("#waitingMsg").css('display', 'none');
								
								socket.emit("join");

								$("#chattingLoad").remove();
								$("#chatting").append(`
									<div class='card' id='chattingCard'>
										<div id='bodyChat' class='card-body msg_card_body'>
										</div>
										<div class='card-footer' style='padding:0!important;'>
											<div class='input-group'>
												<input type='text' id='msgForm' class='form-control type_msg' style='border-radius:0!important;'
												 placeholder='메시지 전송...'/>

												<div id='btnSend' class='input-group-append' style='border-radius:0!important;'>
													<span class='input-group-text send_btn'><i class='fa fa-paper-plane text-primary'></i></span>
												</div>
											</div>
										</div>
									</div>
								`);
								
								if(chatlog != null) {
									let log = chatlog.split('\n');
									for(let i=0; i<log.length-1; i++) {
										if(log[i].includes('학생')) {
											$("#bodyChat").append(
												"<div class='d-flex justify-content-end mb-5 mt-2'>" +
													"<div class='msg_time_send'>" +
														log[i].split('（')[1].split('시')[0] + ":" + log[i].split('시 ')[1].split('분')[0] +
													"</div>" +
													"<div class='bg-primary msg_cotainer_send'>" +
														"<span class='msg_name_send'>Me</span>" +
														escapeHtml(log[i].split('： ')[1].split(' （')[0]) +
													"</div>" +
												"</div>"
											);
										}
										else {
											$("#bodyChat").append(
												"<div class='d-flex justify-content-start mb-5 mt-2'>" +
													"<div class='msg_cotainer'>" +
														"<span class='msg_name'>" + log[i].split('： ')[0] + " </span>" +
														escapeHtml(log[i].split('： ')[1].split(' （')[0]) +
													"</div>" +
													"<div class='msg_time'>" +
														log[i].split('（')[1].split('시')[0] + ":" + log[i].split('시 ')[1].split('분')[0] +
													"</div>" +
												"</div>"
											);
										}
									}
									$("#bodyChat").scrollTop($("#bodyChat")[0].scrollHeight);
								}

								$('#btnSend').click(function(e) {
									if($("#msgForm").val() != "") {
										socket.emit("msg", $("#msgForm").val());
										$("#bodyChat").append(
											"<div class='d-flex justify-content-end mb-5 mt-2'>" +
												"<div class='msg_time_send'>" +
													new Date().getHours() + ":" + ("00" + new Date().getMinutes()).slice(-2) +
												"</div>" +
												"<div class='bg-primary msg_cotainer_send'>" +
													"<span class='msg_name_send'>Me</span>" +
													escapeHtml($('#msgForm').val()) +
												"</div>" +
											"</div>"
										);
										$("#bodyChat").scrollTop($("#bodyChat")[0].scrollHeight);
										$('#msgForm').val("");
										$('#msgForm').focus();
									}
									else {
										$('#msgForm').focus();
									}
								});

								$("#msgForm").keydown(function(key) {
									if (key.keyCode == 13) $('#btnSend').click();
								});

								socket.on("msg", function(data) {
									$("#bodyChat").append(
										"<div class='d-flex justify-content-start mb-5 mt-2'>" +
											"<div class='msg_cotainer'>" +
												"<span class='msg_name'>" + data.name + " 선생님 </span>" +
												escapeHtml(data.msg) +
											"</div>" +
											"<div class='msg_time'>" +
												new Date().getHours() + ":" + ("00" + new Date().getMinutes()).slice(-2) +
											"</div>" +
										"</div>"
									);
									$("#bodyChat").scrollTop($("#bodyChat")[0].scrollHeight);
								});
								
								socket.on("finish", function(data) {
									socket.disconnect();
									
									alert("상담사에 의해 채팅이 종료되었습니다.");
									
									window.flutter_inappwebview
										.callHandler('PageHandler', 'replaceMain');
								});
							}
							else {
								socket.emit("join");
							}
							
							setHeight();
						});
				<% } else if(isChatting === 2) { %>
						$("#chatting").append(`
							<center style="margin-top:10%;">
								<div style="font-size:1.3em; color:#565656;">예약 승인을 기다리고 있습니다.</div>
								<div id="fresh" style="font-size:1.2em; color:#828282; margin-top:5%; cursor:pointer;">
									새로고침 &nbsp <i class="fa fa-refresh" aria-hidden="true" style="color:#777;"></i>
								</div>
							</center>
						`);
				
						$("#chattingLoad").remove();
						
						$("#fresh").click(function(e) {
							$(".fa-refresh").addClass('fa-spin');
							location.replace(location.origin+location.pathname+"?chatting");
						});
				<% } else if(isChatting === 3) { %>
						$("#chatting").append(`
							<center style="margin-top:10%;">
								<div style="font-size:1.3em; color:#565656;">아직 채팅상담 시간이 아닙니다.</div>
								<div id="fresh" style="font-size:1.2em; color:#828282; margin-top:5%; cursor:pointer;">
									새로고침 &nbsp <i class="fa fa-refresh" aria-hidden="true" style="color:#777;"></i>
								</div>
							</center>
						`);
				
						$("#chattingLoad").remove();
						
						$("#fresh").click(function(e) {
							$(".fa-refresh").addClass('fa-spin');
							location.replace(location.origin+location.pathname+"?chatting");
						});
				<% } %>
			});
			
			window.onresize = function(event) {
				setHeight();
			};
			
			function setHeight() {
				let top = document.getElementsByClassName("row");
				$("#chatting").height(window.innerHeight - (top[0].clientHeight + top[1].clientHeight) - 20);
				$("#bodyChat").scrollTop($("#bodyChat")[0].scrollHeight);
			}
	
			// xss 취약점 막는 함수, php의 htmlspecialcharacter 과 같은 함수
			function escapeHtml(str) {
				var map = {
					'&': '&amp;',
					'<': '&lt;',
					'>': '&gt;',
					'"': '&quot;',
					"'": '&#039;'
				};
				return str.replace(/[&<>"']/g, function(m) { return map[m]; });
			}
		</script>
	</body>
</html>