<!DOCTYPE html>
<html>
	<head>
		<title>유한대학교 학생상담센터</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<script src="/js/jquery-latest.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			body{
				width:100%;
			}
			input[readonly] {
				background-color: #fff !important;
			}
			textarea[readonly] {
				background-color: #fff !important;
			}
			.fade-text{
				font-size:150%;
				color:#494949;
  				animation: fadein-text 3s;
  				-moz-animation: fadein-text 3s; /* Firefox */
  				-webkit-animation: fadein-text 3s; /* Safari and Chrome */
  				-o-animation: fadein-text 3s; /* Opera */
			}
			.fade-app{
				font-size:80%;
				color:#444444;
  				animation: fadein-app 3s;
  				-moz-animation: fadein-app 3s; /* Firefox */
  				-webkit-animation: fadein-app 3s; /* Safari and Chrome */
  				-o-animation: fadein-app 3s; /* Opera */
			}
			@keyframes fadein-text{
				from{
					opacity: 0;
					transform: translateY(50%);
				}
				to{
					opacity: 1;
					transform: translateY(0);
				}
			}
			@keyframes fadein-app{
				from{
					opacity: 0;
				}
				to{
					opacity: 1;
				}
			}
			.btnClass{
				display:none;
			}
			.btnClass + label{ 
				display: inline-block; 
				cursor: pointer; 
				line-height: 23px; 
				padding-left: 26px; 
				background: url('/res/imgs/check-off.png') left/20px no-repeat;
			}
			.btnClass:checked + label{
				background-image: url('/res/imgs/check-on.png');
				color:#0275d8;
			}
			.btnMentalClass{
				display: inline-block;
				cursor: pointer;
				line-height: 22px;
				padding-left: 18px;
				border:none;
				background: url('/res/imgs/btnMentalDes-normal.png')  left/20px no-repeat;
				outline:none;
			}
			.btnMentalClass:hover{
				display: inline-block;
				cursor: pointer;
				line-height: 22px;
				padding-left: 18px;
				border:none;
				background: url('/res/imgs/btnMentalDes-overlay.png')  left/20px no-repeat;
			}
			.form-nametag{
				font-size : 18px;
			}
			.form-question{
				margin-top:30px;
				margin-bottom:10px;
			}
			.form-card{
				margin-bottom:20px;
			}
			.col-title{
				text-align: left;
				font-weight: bold;
				margin-top: 0;
			}
			.col-agreetext{
				font-weight:normal;
				color:#60b6aa;
				font-size:80%;
			}
			.col-text{
				width: 100%;
				margin-bottom: 50px;
			}
			.form-text{
				height:150px;
			}
			.formType{
				margin-left: 5px;
				margin-right: 5px;
				border:1px solid #ddd;
				border-left:0!important;
				border-right:0!important;
			}
			.btnType{
				cursor: pointer;
				padding: 2vh 0;
				text-align:center;
				font-size: 1em;
				background-color: white;
			}
			.formDate{
				margin-left: 5px;
				margin-right: 5px;
				border:1px solid #ddd;
				border-left:0!important;
				border-right:0!important;
			}
			.btnDate{
				cursor: pointer;
				padding: 2vh 0;
				text-align:center;
				font-size: 1.3em;
				background-color: white;
			}
			.formTime{
				margin-left: 5px;
				margin-right: 5px;
				border:1px solid #ddd;
				border-left:0!important;
				border-right:0!important;
			}
			.btnTime{
				cursor: pointer;
				padding: 2vh 0;
				text-align:center;
				font-size: 1.3em;
				background-color: white;
			}
			.selfchek-title{
                font-size:150%;
				color:#494949;
                margin-bottom: 5%;
                margin-top: 3%;
            }
            .selfcheck-subject{
                font-size:130%;
				color:#494949;
                font-weight: bold;
            }
            #radios{
                position:relative;
                width:70%;
                margin:0 auto;
            }
            .selfcheck-radio{
                position:absolute;
                right:1000%;
            }
            .radio-border{
                float:left;
                width:15%; padding-bottom:15%;
                margin:0 2.5%;
                background:#0275d8;
                border-radius:50%;
                cursor:pointer;
            }
            #slider{
                position:absolute;
                left:40%; top:0;
                width:10%; padding-bottom:10%;
                margin:2.5% 0 0 5%;
                background:#fff;
                transition:transform 1s;
                border-radius:50%;
                animation-timing-function: ease-in-out;
                animation-duration:.3s;
                animation-fill-mode: forwards;
                transition: 0.2s left .05s ease-in-out;
            }
            .radio1:checked  ~ #slider{ animation-name: radio1; left:0; }
			.radio2:checked  ~ #slider{ animation-name: radio2; left:20%; }
			.radio3:checked  ~ #slider{ animation-name: radio3; left:40%; }
			.radio4:checked  ~ #slider{ animation-name: radio4; left:60%; }
			.radio5:checked  ~ #slider{ animation-name: radio5; left:80%; }
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="applicationTab">
					<div class="row pt-4">
						<div class="fade-text col align-self-center text-center" style="color:#1a1a1a;">
							<label>무엇을 도와드릴까요?</label>
						</div>
					</div>
					<div class="row align-self-center" style="height:40px; margin-bottom:40px;">
						<div class="fade-app col text-center align-self-center">
							<input type="radio" id="appMental" name="btnApp" class="btnClass">
							<label for="appMental" class="mr-4" style="font-size:130%;">심리검사</label>

							<input type="radio" id="appConsult" name="btnApp" class="btnClass">
							<label for="appConsult" style="font-size:130%;">상담예약</label>
						</div>
					</div>
					<div style="border:0px; display:none;" id="applicationForm">
						<div style="margin-bottom:50px;">
							<label style="margin:0px;"><b>학번</b></label>
							<input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
								   placeholder="학번을 입력하세요." id="userCode" value="<%= stuInfo.stuno %>" readonly>
						</div>
						<div style="margin-bottom:50px;">
							<label style="margin:0px;"><b>이름</b></label>
							<input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
								   placeholder="이름을 입력하세요." id="userName" value="<%= stuInfo.stuname %>" readonly>
						</div>
						<div style="margin-bottom:50px;">
							<label style="margin:0px;"><b>성별</b></label>
							<input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
								   id="userGender" value="<%= stuInfo.gender %>" readonly>
						</div>
						<div style="margin-bottom:50px;">
							<label style="margin:0px;"><b>생년월일</b></label>
							<br/>
							<%
								const userBirth = stuInfo.birth;
								const nowYear = new Date().getFullYear().toString().substring(2, 4);
							
								let fullBirth = "";
							
								if(parseInt(nowYear) > parseInt(userBirth.substring(0, 2))) {
									fullBirth = "20" + userBirth.substring(0, 2) + "-" + userBirth.substring(2, 4) + "-" + userBirth.substring(4, 6);
								}
								else {
									fullBirth = "19" + userBirth.substring(0, 2) + "-" + userBirth.substring(2, 4) + "-" + userBirth.substring(4, 6);
								}
							%>
							<input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0" id="userBirth"
								   value="<%= fullBirth %>" style="outline: none !important;" readonly>
						</div>
						<div id="phoneForm" style="margin-bottom:50px;">
							<label style="margin:0px;"><b>휴대폰</b></label>
							<input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
								   placeholder="010-XXXX-XXXX" id="userPhone" value="<%= stuInfo.phonenum %>" readonly>
						</div>
						<div id="emailForm" style="margin-bottom:50px;">
							<label style="margin:0px;"><b>이메일</b></label>
							<input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
								   placeholder="email@example.com" id="userEmail" value="<%= stuInfo.email %>" readonly>
						</div>
						<div style="display:none;" id="consultForm">
							<% for(let i=0; i<consultAsk.length; i++){ %>
							<div class="form-group">
								<div class="form-group form-question">
									<label id="consultAsk<%=i%>"><b><%= unescape(consultAsk[i].ask) %></b></label><br/>
									<input type="hidden" value="<%=consultAsk[i].askno%>" id="consultAskVal<%=i%>"/>
								<% if(consultAsk[i].choicetypename === "Radio"){ %>
									<% for(let j=0; j<consultAsk[i].choices.split('|').length; j++){ %>
									<input type="radio" class="from-input mb-4" name="consultAskAnswer<%=i%>"
										   id="<%= 'consultAnswer'+i+j %>" value="<%= consultAsk[i].choices.split('|')[j] %>">
									<label for="<%= 'consultAnswer'+i+j %>"><%= unescape(consultAsk[i].choices.split('|')[j]) %></label><br/>
									<% } %>
								<% } %>
								<% if(consultAsk[i].choicetypename === "Check"){ %>
									<% for(let j=0; j<consultAsk[i].choices.split('|').length; j++){ %>
									<input type="checkbox" class="from-input mb-4" name="consultAskAnswer<%=i%>"
										   id="<%= 'consultAnswer'+i+j %>" value="<%= consultAsk[i].choices.split('|')[j] %>">
									<label for="<%= 'consultAnswer'+i+j %>"><%= unescape(consultAsk[i].choices.split('|')[j]) %></label><br/>
									<% } %>
								<% } %>
								<% if(consultAsk[i].choicetypename === "Normal"){ %>
									<textarea class="form-control" placeholder="자유롭게 작성해 주세요." name="consultAskAnswer<%=i%>"
											  id="<%= 'consultAnswer'+i %>" style="resize:none;margin-bottom:50px!important;" readonly></textarea>
								<% } %>
								</div>
							</div>
							<% } %>
						</div>
						<div style="display:none;" id="psyTestForm">
							<% for(let i=0; i<testAsk.length; i++){ %>
							<div class="form-group">
								<div class="form-group form-question">
									<label id="mentalAsk<%=i%>"><b><%= unescape(testAsk[i].ask) %></b></label><br/>
									<input type="hidden" value="<%=testAsk[i].askno%>" id="mentalAskVal<%=i%>"/>
								<% if(testAsk[i].choicetypename === "Radio"){ %>
									<% for(let j=0; j<testAsk[i].choices.split('|').length; j++){ %>
									<input type="radio" class="from-input mb-4" name="mentalAskAnswer<%=i%>"
										   id="<%= 'mentalAnswer'+i+j %>" value="<%= testAsk[i].choices.split('|')[j] %>">
									<label for="<%= 'mentalAnswer'+i+j %>"><%= unescape(testAsk[i].choices.split('|')[j]) %></label><br/>
									<% } %>
								<% } %>
								<% if(testAsk[i].choicetypename === "Check"){ %>
									<% for(let j=0; j<testAsk[i].choices.split('|').length; j++){ %>
									<input type="checkbox" class="from-input mb-4" name="mentalAskAnswer<%=i%>"
										   id="<%= 'mentalAnswer'+i+j %>" value="<%= testAsk[i].choices.split('|')[j] %>">
									<label for="<%= 'mentalAnswer'+i+j %>"><%= unescape(testAsk[i].choices.split('|')[j]) %></label><br/>
									<% } %>
								<% } %>
								<% if(testAsk[i].choicetypename === "Normal"){ %>
									<textarea class="form-control" placeholder="자유롭게 작성해 주세요." name="mentalAskAnswer<%=i%>"
											  id="<%= 'mentalAnswer'+i %>" style="resize:none;margin-bottom:50px!important;" readonly></textarea>
								<% } %>
								</div>
							</div>
							<% } %>
							<div class="form-group">
								<label style="margin-bottom:30px;"><b>원하는 심리검사를 선택해주세요.</b><br/>(중복선택 가능)</label><br/>
								<div class="form-group">
									<% for(let i=0; i<psyTestList.length; i++){ %>
									<div class="form-group">
										<input type="checkbox" class="pull-left;" id="<%= 'psyTestType'+i %>"
											   value="<%= psyTestList[i].testno %>" name="psyTestList" style="margin-right:20px;">
										<label for="<%= 'psyTestType'+i %>"><%= psyTestList[i].testname %></label>
										<input type="button" class="btnMentalClass pull-right" id="<%= 'psyTestDes'+i%>"
											   onclick="window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '<%= psyTestList[i].description %>');">
									</div>
									<br/>
									<% } %>
								</div>
							</div>
						</div>
						<div class="form-group text-right"> 
							<input type="button" class="btn btn-primary mb-2" id="btnFirstNext" value="다 음">
						</div>
						
					</div>
				</div>
				<div class="tab-pane fade" id="reservationTab">
					<div style="margin-bottom:30px; margin-top:10%;">
						<select class="custom-select" id="counselorList" style="width:180px;">
							<option value="">상담 선생님 선택</option>
						</select>
					</div>
					
					<div style="margin-bottom:30px; display:none;" id="divType">
						<label><b>유형</b></label>
						<div class="row formType" id="reservationType">
							<div class="col btnType">
								채팅<br/>상담
								<input type="hidden" class="reservationValue" value="1">
							</div>
							<div class="col btnType">
								화상<br/>상담
								<input type="hidden" class="reservationValue" value="2">
							</div>
							<div class="col btnType">
								전화<br/>상담
								<input type="hidden" class="reservationValue" value="3">
							</div>
							<div class="col btnType">
								대면<br/>상담
								<input type="hidden" class="reservationValue" value="4">
							</div>
						</div>
					</div>
					<div style="margin-bottom:30px; display:none;" id="divDate">
						<label><b>날짜</b></label>
						<div class="row formDate" id="possibleDate">
						</div>
					</div>
					<div style="margin-bottom:30px; display:none;" id="divTime">
						<label><b>시간</b></label>
						<div class="row formTime" id="possibleTime">
						</div>
						<label>※ 상담시간 : 1회당 50분</label>
					</div>
					<div class="form-group text-right" style="margin-top:50px; margin-bottom:0!important; display:none;" id="divSecondNext"> 
						<input type="button" class="btn btn-primary mb-4" id="btnSecondNext" value="다 음">
					</div>
				</div>
				<div class="tab-pane fade" id="selfcheckTab">
					<div class="row selfchek-title" style="height: 60px;">
						<div class="col align-self-center text-center">
							<label>간단 자가진단</label>
						</div>
					</div>
					<div id="divisionSelfcheck">
					</div>
					
					<div class="form-group text-right" style="margin-top:50px; margin-bottom:0!important;" id="divThirdNext"> 
						<input type="button" class="btn btn-primary mb-4" id="btnThirdNext" value="다 음">
					</div>
				</div>
				<div class="tab-pane fade" id="privacyTab">
					<div class="row pt-4">
						<div class="col-title col">
							<input type="checkbox" id="agreebox1" name="agreebox" class="btnClass">
							<label for="agreebox1" class="text-default" style="margin:0px;"><label class="col-agreetext" style="margin:0px;">(필수)</label> 상담 프로그램 이용 관련 동의</label>
						</div>
					</div>
					<div class="row">
						<div class="col-text col">
							<div class="form-text form-control overflow-auto mt-2">
								<p class="text-danger">
									<b>1. 비밀보장에 관한 약속</b>
								</p>
								<p>
									본 센터에서 이루어지는 모든 상담활동은 상담자 윤리강령에 근거하여 비밀 보장을 약속하며, 당사자 동의 없이 타인이나 센터 외부로 기록들이 공개되지 않습니다. 그러나 아래의 경우에는, 관련 의무 규정상 가족이나 제3자에게 공개될 수 있습니다.<br/><br/>
									1) 최근 당신이 아동학대 혹은 성인학대의 피해자나 가해자로 여겨질 만한 근거가 있는 경우<br/>
									2) 당신이 자살하려고 하는 경우<br/>
									3) 당신의 행동이 타인에게 위해를 가할 가능성이 있는 경우<br/>
									4) 법정에서 증언을 위해 당신의 기록을 공개해 줄 것을 상담자에게 요청하는 경우<br/>
									5) 상담 내용이 자문과 교육의 목적으로 상담 수퍼바이저에게 공개하는 경우<br/>
									6) 당신이 감염성이 있는 치명적 질병이 있고, 당신과의 관계로 인해 위험한 수준으로 그 질병에 노출된 제3자가 있는 경우<br/>
								</p>
								<p class="text-danger">
									<b>2. 상담내용 기록 및 녹음</b>
								</p>
								<p>
									상담사의 자문과 교육을 목적으로 상담내용을 기록, 녹음할 수 있습니다. 기록, 녹음은 철저히 비밀유지로 관리되며 이 외의 목적으로 절대 활용되지 않습니다(녹음을 원치 않을 경우 상담사에게 요구할 수 있습니다). 상담센터 내부에 관리되는 개인정보 및 기록물은 5년간 보관 후 폐기됩니다.
								</p>
								<p class="text-danger">
									<b>3. 비대면 상담 관련 동의</b>
								</p>
								<p>
									비대면으로 이뤄지는 상담내용을 상담자의 동의 없이 참여자가 임의로 녹음, 녹화, 저장하여 공개 또는 유포하여서는 안 되며, 이러한 경우에는 그에 따른 민·형사상의 책임을 지게 될 수 있음을 알려드립니다.
								</p>
								<p class="text-danger">
									※ 상위 제공된 상담 프로그램 이용 관련 동의를 거부할 권리가 있습니다. 그러나, 동의를 거부할 경우 관련 상담 프로그램 이용이 불가합니다.
								</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-title col">
						<input type="checkbox" id="agreebox2" name="agreebox" class="btnClass">
							<label for="agreebox2" class="text-default" style="margin:0px; margin-bottom:5px;"><label class="col-agreetext" style="margin:0px;">(필수)</label> 개인정보 수집•이용 동의</label>
						</div>
					</div>
					<div class="row">
						<div class="col-text col">
							<div class="form-text form-control overflow-auto mt-2">
								<p>
									<U>수집항목:</U> 성명, 생년월일, 성별, 학과, 학년, 학번, 이메일, 연락처<br/>
									<U>수집목적:</U> 상담 프로그램 제공에 필요한 내담자 이해, 본인 확인 및 연락 등의 절차에 이용, 행사 또는 프로그램 등의 안내, 센터 이용 현황 파악을 위한 통계 분석<br/> 
									<U>보유기간:</U> <b style="font-size:105%;">최종 상담 프로그램 제공 종료일로부터 5년 보관 후 폐기</b><br/>
								</p>
								<p class="text-danger">
									※ 개인정보 수집·이용에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 관련 상담 프로그램 이용이 불가합니다.
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-title col">
						<input type="checkbox" id="agreebox3" name="agreebox" class="btnClass">
							<label for="agreebox3" class="text-default" style="margin:0px;"><label class="col-agreetext" style="margin:0px;">(필수)</label> 민감정보 수집•이용 동의</label>
						</div>
					</div>
					<div class="row">
						<div class="col-text col">
							<div class="form-text form-control overflow-auto mt-2">
								<p>
									<U>수집항목:</U> <b style="font-size:105%;">방문 경위 및 프로그램 신청 계기, 이전 상담경험, 휴학유무, 군대경험 유무, 종교, 주거지, 가족관계, 건강상태, 상담기록, 심리검사 결과</b><br/>
									<U>수집목적:</U> 상담 프로그램 제공에 필요한 내담자 이해, 효과적인 상담 프로그램 제공에 이용<br/> 
									<U>보유기간:</U> <b style="font-size:105%;">최종 상담 프로그램 제공 종료일로부터 5년 보관 후 폐기</b><br/>
								</p>
								<p class="text-danger">
									※ 민감정보 수집·이용에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 관련 상담 프로그램 이용이 불가합니다.
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-title col">
						<input type="checkbox" id="agreebox4" name="agreebox" class="btnClass">
							<label for="agreebox4" class="text-default" style="margin:0px;"><label class="col-agreetext" style="margin:0px;">(필수)</label> 개인정보 제3자 제공 동의</label>
						</div>
					</div>
					<div class="row">
						<div class="col-text col">
							<div class="form-text form-control overflow-auto mt-2">
								<p>
									<U>제공받는 기관:</U> <b style="font-size:105%;">한국가이던스, 마음사랑, 인싸이트, 어세스타, 연우심리개발원, 게슈탈트포럼, 한국이고그램연구소, 한국심리연구소, 한국심리주식회사, 한국심리적성검사연구소(심리검사업체)</b><br/>
									<U>제공목적:</U> <b style="font-size:105%;">온라인 심리검사 제공 및 심리검사 결과 처리</b><br/>
									<U>제공하는 항목:</U> 성명, 생년월일, 성별, 이메일, 연락처, 심리검사 결과<br/>
									<U>보유기간:</U> <b style="font-size:105%;">최종 상담 프로그램 제공 종료일로부터 5년 보관 후 폐기</b><br/>
								</p>
								<p class="text-danger">
									※ 개인정보 제3자 제공에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 관련 상담 프로그램 이용이 불가합니다.
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-text col">
						<input type="checkbox" id="agreebox5" name="agreebox" class="btnClass">
							<label for="agreebox5" class="text-default">상위 유한누리 이용약관에 모두 동의합니다.</label>
							<p style="color:#768192; font-size:85%; margin-left:20px;">
								※ 만 14세 미만 학생의 경우 보호자(법정대리인)의 동의가 필요하나 본 상담 프로그램은 유한대학교 재학생만 이용 가능하므로 해당사항이 없습니다.
							</p>
						</div>
						
					</div>
					<div class="row">
						<div class="col text-left">
							<input type="button" class="btn btn-secondary mb-4" id="btnCancel" value="이 전">
						</div>
						<div class="col text-right">
							<input type="button" class="btn btn-submit btn-primary mb-4" id="btnComplete" value="확 인">
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			$('input[readonly]').focus(function(e) {
				$(this).blur();
				window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '개인 정보는 포털 사이트를 통해\n변경하실 수 있습니다.');
			});
			
			$('textarea').focus(function(e) {
				$(this).blur();
				let textInfo = {
					element: e.target.id,
					title: $(this).parent('div').text().trim(),
					hint: e.target.placeholder.trim(),
					value: $(this).val().trim()
				}
				window.flutter_inappwebview.callHandler('mobileHandler', 'openInput', JSON.stringify(textInfo));
			});
			
			const socket = io('/reservation', {transports: ['websocket']});
			let sendData = {}

			$('#appMental').click(function(e) {
				document.getElementById("applicationForm").style.display = "block";
				document.getElementById("psyTestForm").style.display = "block";
				document.getElementById("consultForm").style.display = "none";
			});

			$('#appConsult').click(function(e) {
				document.getElementById("applicationForm").style.display = "block";
				document.getElementById("consultForm").style.display = "block";
				document.getElementById("psyTestForm").style.display = "none";
			});
			
			$("#btnCancel").click(function(e) {
				if($('#appMental').is(':checked') === true && psyTestCheck()) {
					let temp = getMentalAnswer();
					
					let selectPsyTestList= []
					$("input[name='psyTestList']:checked").each(function() {
						selectPsyTestList.push($(this).val());
					});

					
					if(temp != undefined && temp != null) {
						sendData = {
                            type: 2,
							stuCode: $('#userCode').val(),
							stuName: $('#userName').val(),
							stuGender: $('#userGender').val(),
							stuBirth: $('#userBirth').val(),
							stuEmail: $('#userEmail').val(),
							stuAnswer: temp,
							psyTestList: selectPsyTestList.toString()
						}
						$("#btnFirstNext").attr("disabled", true); 
						socket.emit('initPrivacy');
					}
				}
				else if($('#appConsult').is(':checked') === true && psyTestCheck()) {
					let temp = getConsultAnswer();
					if(temp != undefined && temp != null) {
						sendData = {
                            type: 1,
							stuCode: $('#userCode').val(),
							stuName: $('#userName').val(),
							stuGender: $('#userGender').val(),
							stuBirth: $('#userBirth').val(),
							stuEmail: $('#userEmail').val(),
							stuAnswer: temp
						}
						$("#btnFirstNext").attr("disabled", true);
						socket.emit('initReservation');
					}
				}
			});

			$("#btnFirstNext").click(function(e) {
				if($('#appMental').is(':checked') === true && psyTestCheck()) {
					let temp = getMentalAnswer();
					
					let selectPsyTestList= []
					$("input[name='psyTestList']:checked").each(function() {
						selectPsyTestList.push($(this).val());
					});

					
					if(temp != undefined && temp != null) {
						sendData = {
                            type: 2,
							stuCode: $('#userCode').val(),
							stuName: $('#userName').val(),
							stuGender: $('#userGender').val(),
							stuBirth: $('#userBirth').val(),
							stuEmail: $('#userEmail').val(),
							stuAnswer: temp,
							psyTestList: selectPsyTestList.toString()
						}
						$("#btnFirstNext").attr("disabled", true); 
						socket.emit('initPrivacy');
					}
				}
				else if($('#appConsult').is(':checked') === true && psyTestCheck()) {
					let temp = getConsultAnswer();
					if(temp != undefined && temp != null) {
						sendData = {
                            type: 1,
							stuCode: $('#userCode').val(),
							stuName: $('#userName').val(),
							stuGender: $('#userGender').val(),
							stuBirth: $('#userBirth').val(),
							stuEmail: $('#userEmail').val(),
							stuAnswer: temp
						}
						$("#btnFirstNext").attr("disabled", true);
						socket.emit('initReservation');
					}
				}
			});

			socket.on('initPrivacy', function() {
				$('input[name=agreebox]').click(function(){
					if($("#agreebox5").is(":checked")){
						if(!$("#agreebox1").is(":checked") || !$("#agreebox2").is(":checked") || !$("#agreebox3").is(":checked") || !$("#agreebox4").is(":checked")) {
							$("input:checkbox[id='agreebox5']").prop("checked", false);
						}
					}

					if($("#agreebox1").is(":checked") && $("#agreebox2").is(":checked") && $("#agreebox3").is(":checked") && $("#agreebox4").is(":checked")) {
						$("input:checkbox[name=agreebox]").each(function() {
							this.checked = true;
						});
						$('#btnComplete').focus();
					}
				});

				$('#agreebox5').click(function(e) {	// 모두 동의 버튼
					if($("input:checkbox[id='agreebox5']").is(":checked") == false) {
						agreebox1.checked = true;
						agreebox2.checked = true;
						agreebox3.checked = true;
						agreebox4.checked = true;
						$("input:checkbox[id='agreebox5']").prop("checked", true);
						
						$('#btnComplete').focus();
					}
					else{
						agreebox1.checked = false;
						agreebox2.checked = false;
						agreebox3.checked = false;
						agreebox4.checked = false;
						$("input:checkbox[id='agreebox5']").prop("checked", false);
					}
				});

				$('#btnComplete').click(function(e) {
					if($('#agreebox5').is(':checked') === true) {
						socket.emit('initComplete', sendData);
					}
					else{
						window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '개인정보동의서를 모두 동의해야 신청이 가능합니다.');
						document.getElementById("agreebox5").focus();
					}
				});

				$('#applicationTab').removeClass('show active');
				$('#selfcheckTab').removeClass('show active');

				$('#privacyTab').addClass('show active');
				
				window.scroll(0, 0);
			});

			socket.on('initReservation', function(data) {
				const counselor = data;

				for(let i = 0; i < counselor.length; i++) {
					if(counselor[i].empid === 'admin') continue;
					else {
						$('#counselorList').append(`
							<option value="${counselor[i].empid}">${counselor[i].empname} 선생님</option>
						`);
					}
				}

				const tomorrow = new Date(new Date().getTime() + 86400000);
				let cnt = 0;
				let num = 0;

				$('#possibleDate').before(`<br/><label style="font-size:0.8em;">${tomorrow.getMonth()+1}월</label>`);
				
				while(cnt < 10) {
					if(cnt === 5) $('#possibleDate').append(`<div class="w-100"></div>`);
					
					let countDate = new Date((tomorrow.getTime() + (86400000 * num)));
					num = num + 1;
					
					if(countDate.getDay() === 0 || countDate.getDay() === 6) continue;
					else {
						if(countDate.getDate() == 1 && cnt != 0) {
							$('#possibleDate').append(`
								<div class="col btnDate" id="btnDate${countDate.getDate()}">${tomorrow.getMonth()+2 == 13 ? 1 : tomorrow.getMonth()+2}.${countDate.getDate()}</div>
							`);
						}
						else {
							$('#possibleDate').append(`
								<div class="col btnDate" id="btnDate${countDate.getDate()}">${countDate.getDate()}</div>
							`);
						}
						cnt = cnt + 1;
					}
				}

				for(let i=0; i<9; i++) {
					let countTime = i + 9;
					if(countTime === 12) continue;
					else if(countTime === 14) {
						$('#possibleTime').append(`
							<div class="w-100"></div>
							<div class="col btnTime" id="btnTime${countTime}">${countTime}</div>
						`);
					}
					else {
						$('#possibleTime').append(`
							<div class="col btnTime" id="btnTime${countTime}">${countTime}</div>
						`);
					}
				}

				$(".btnType").click(function(e) {
					const typeList = document.getElementsByClassName('btnType');
					for(let i=0; i<typeList.length; i++) {
						if(typeList[i].className.includes("use")) typeList[i].classList.remove("use");
						typeList[i].style.backgroundColor = "#fff";
                        typeList[i].style.color = "#212529";
					}
                    $(this).addClass('use');
					$(this).css("background-color", '#0275d8');
					$(this).css("color", '#fff');

					sendData.reservationCode = $(this)[0].getElementsByClassName('reservationValue')[0].value;
				});

				$(".btnDate").click(function(e) {
					const dateList = document.getElementsByClassName('btnDate');
					if($(this).hasClass('possible')) {
						for(let i=0; i<dateList.length; i++) {
							dateList[i].style.backgroundColor = "#fff";
							if(dateList[i].className.includes("possible")) dateList[i].style.color = "#007BFF";
							else dateList[i].style.color = "#212529";
						}
						$(this).css("background-color", '#0275d8');
						$(this).css("color", '#fff');

						$('#divTime').css('display', 'block');
						$('#divSecondNext').css('display', 'none');

						socket.emit("selectDateTime", {
							date: $(this).val(),
							empid: $('#counselorList').val()
						});

						sendData.date = $(this).val();
					}
				});

				$(".btnTime").click(function(e) {
					const dateList = document.getElementsByClassName('btnTime');
					if($(this).hasClass('possible')) {
						for(let i=0; i<dateList.length; i++) {
							dateList[i].style.backgroundColor = "#fff";
							if(dateList[i].className.includes("possible")) {
								dateList[i].style.color = "#007BFF";
							}
							else dateList[i].style.color = "#212529";
						}
						$(this).css("background-color", '#0275d8');
						$(this).css("color", '#fff');
						$('#divSecondNext').css('display', 'block');

						sendData.time = $(this)[0].innerText;
                        $("#btnSecondNext").focus();
					}
				});

				$("#counselorList").change(function() {
					const empid = $("#counselorList").val();
					if(empid === "") {
						const dateList = document.getElementsByClassName('btnDate');
						for(let i=0; i<dateList.length; i++) {
							dateList[i].classList.remove("possible");
							dateList[i].style.backgroundColor = "#fff";
							dateList[i].style.color = "#212529";
						}

						const timeList = document.getElementsByClassName('btnTime');
						for(let i=0; i<timeList.length; i++) {
							timeList[i].classList.remove("possible");
							timeList[i].style.backgroundColor = "#fff";
							timeList[i].style.color = "#212529";
						}

						$('#divType').css('display', 'none');
						$('#divDate').css('display', 'none');
						$('#divTime').css('display', 'none');

						$('#divSecondNext').css('display', 'none');
					}
					else {
						socket.emit('selectCounselor', empid);
                        
                        const typeList = document.getElementsByClassName('btnType');
                        for(let i=0; i<typeList.length; i++) {
                            if(typeList[i].className.includes("use")) typeList[i].classList.remove("use");
                            typeList[i].style.backgroundColor = "#fff";
                            typeList[i].style.color = "#212529";
                        }
                        
                        const dateList = document.getElementsByClassName('btnDate');
						for(let i=0; i<dateList.length; i++) {
							dateList[i].classList.remove("possible");
							dateList[i].style.backgroundColor = "#fff";
							dateList[i].style.color = "#212529";
                            dateList[i].style.fontWeight = "normal";
						}

						const timeList = document.getElementsByClassName('btnTime');
						for(let i=0; i<timeList.length; i++) {
							timeList[i].classList.remove("possible");
							timeList[i].style.backgroundColor = "#fff";
							timeList[i].style.color = "#212529";
						}

						$('#divType').css('display', 'block');
						$('#divDate').css('display', 'block');
						$('#divTime').css('display', 'none');

						$('#divSecondNext').css('display', 'none');
					}
					sendData.empid = empid;
				});

				$("#btnSecondNext").click(function(e) {
                    let count = 0;
                    
                    const typeList = document.getElementsByClassName('btnType');
					for(let i = 0; i < typeList.length; i++) {
						if(typeList[i].className.includes("use")) count++;
					}
                    
                    if(count === 0) {
						window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '상담 유형을 선택해 주세요.');
                        document.getElementsByClassName('btnType')[0].focus();
                    }
                    else {
                        const empid = $("#counselorList").val();
                        socket.emit('initSelfcheck', empid);
                    }
				});

				$('#applicationTab').removeClass('show active');
				$('#reservationTab').addClass('show active');
				
				window.scroll(0, 0);
			});

			socket.on('selectCounselor', function(date) {
				if(date.length > 0) {
					for(let i=0; i<date.length; i++) {
						const tempDate = new Date(date[i].possible).getDate();

						$('#btnDate'+tempDate).css("background-color", '#fff');
						$('#btnDate'+tempDate).css("color", '#0275d8');
						$('#btnDate'+tempDate).addClass('possible');

						$('#btnDate'+tempDate).css("font-weight", "bold");

						$('#btnDate'+tempDate).val(date[i].possible);
					}
				}
				else {
					const dateList = document.getElementsByClassName('btnDate');

					for(let i=0; i<dateList.length; i++) {
						dateList[i].classList.remove("possible");
						dateList[i].style.backgroundColor = "#fff";
						dateList[i].style.color = "#212529";
					}
				}
			});

			socket.on('returnTime', function(list) {
				const dateList = document.getElementsByClassName('btnTime');

				for(let i=0; i<dateList.length; i++) {
					dateList[i].classList.remove("possible");
					dateList[i].style.backgroundColor = "#fff";
					dateList[i].style.color = "#212529";
				}

				for(let i=0; i<list.length; i++) {
					if(list[i] === 12) continue;
					else {
						$('#btnTime'+list[i]).css("color", '#0275d8');
						$('#btnTime'+list[i]).addClass('possible');
						$('#btnTime'+list[i]).css("font-weight", "bold");
					}
				}
			});

			socket.on('initSelfcheck', function(list) {
				for(let i=0; i<list.length; i++) {
					$('#divisionSelfcheck').append(`
						<div class="row selfcheck-subject">
							<div class="col align-self-center text-center">
								<label name="selfcheck"><b>${unescape(list[i].checkname)}</b></label>
								<input type="hidden" value="${list[i].checkno}" id="selfcheckCode${i}"/>
							</div>
						</div>
						<div class="row" style="margin-bottom:70px;">
							<label style="font-size:130%;color:#494949;margin-left:3%;padding-top:2%;">나쁨</label>
							<div id="radios">
							  <label class="radio-border" for="${list[i].checkno}_1"></label>
							  <input class="selfcheck-radio radio1" id="${list[i].checkno}_1" name="selfcheck${i}" type="radio" value="1"/>
							  <label class="radio-border" for="${list[i].checkno}_2"></label>
							  <input class="selfcheck-radio radio2" id="${list[i].checkno}_2" name="selfcheck${i}" type="radio" value="2"/>
							  <label class="radio-border" for="${list[i].checkno}_3"></label>
							  <input class="selfcheck-radio radio3" id="${list[i].checkno}_3" name="selfcheck${i}" type="radio" value="3"/>
							  <label class="radio-border" for="${list[i].checkno}_4"></label>
							  <input class="selfcheck-radio radio4" id="${list[i].checkno}_4" name="selfcheck${i}" type="radio" value="4"/>
							  <label class="radio-border" for="${list[i].checkno}_5"></label>
							  <input class="selfcheck-radio radio5" id="${list[i].checkno}_5" name="selfcheck${i}" type="radio" value="5"/>
							  <span id="slider"></span>
							</div>
						   <label style="font-size:130%;color:#494949;margin-right:3%;padding-top:2%;">좋음</label>
						</div>
					`);
					$("input:radio[name='selfcheck"+i+"']:radio[value='3']").prop('checked', true);
				}

				$("#btnThirdNext").click(function(e) {
					const elmSelfcheck = document.getElementsByName('selfcheck');
					let selfcheckCode = [];
					let selfcheckNum = [];

					for(let i=0; i < elmSelfcheck.length; i++) {
						selfcheckCode.push($('#selfcheckCode'+i).val());
						selfcheckNum.push($('input[name=selfcheck'+i+']:checked').val());
					}
					sendData.selfcheckCode = selfcheckCode.toString();
					sendData.selfcheckNum = selfcheckNum.toString();

					socket.emit('initPrivacy');
				});

				$('#reservationTab').removeClass('show active');
				$('#selfcheckTab').addClass('show active');
				
				window.scroll(0, 0);
			});

			socket.on('initComplete', function() {
				window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '예약이 완료되었습니다, 감사합니다.');
				window.flutter_inappwebview.callHandler('mobileHandler', 'replaceHome');  // Flutter Inappwebview 의 ReservationHandler를 호출  
			});

			function psyTestCheck() {
				if($('#appMental').is(':checked') === true && $('input:checkbox[name=psyTestList]').is(':checked') == false) {
					window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '심리검사 유형을 1개 이상 선택하세요.');
					document.getElementById("psyTestType0").focus();
					return false;
				}
				else {
					return true;
				}
			} // 간단 신청서 부분 유효성 검사

			function CheckEmail(str) {                                                 
				const reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
				if(!reg_email.test(str)) return false;
				else return true;                        
			}  // 간단 신청서 부분 이메일 유효성 검사

			function getMentalAnswer() {
				let dynamic = [];

				for(let i=0; i < <%= testAsk.length %>; i++) {
					let temp = {}

					let what_type = document.getElementsByName("mentalAskAnswer"+i)[0].type;
					if(what_type === 'radio') {
						let checkAnswer = $('input[name=mentalAskAnswer'+i+']:checked').val();
						if(checkAnswer != undefined) temp.answer = $('input[name=mentalAskAnswer'+i+']:checked').val();
						else {
							window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '답변하지 않은 질문이 있습니다.');
							$('input[name=mentalAskAnswer'+i+']').focus();
							dynamic.length = 0;
							return null;
						}
					}
					else if(what_type === 'checkbox') {
						let checkAnswer = [];
						$('input:checkbox[name=mentalAskAnswer'+i+']:checked').each(function() {
							checkAnswer.push($(this).val());
						});

						if(checkAnswer.length !== 0) temp.answer = checkAnswer.toString();
						else {
							window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '답변하지 않은 질문이 있습니다.');
							$('input:checkbox[name=mentalAskAnswer'+i+']').focus();
							dynamic.length = 0;
							return null;
						}
					}
					else if(what_type === 'textarea') {
						let txt = $('[name=mentalAskAnswer'+i+']').val();
						if(txt !== "") temp.answer = $('[name=mentalAskAnswer'+i+']').val();
						else {
							window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '답변하지 않은 질문이 있습니다.');
							$('[name=mentalAskAnswer'+i+']').focus();
							dynamic.length = 0;
							return null;
						}
					}
					temp.question = $('#mentalAskVal'+i).val();
					dynamic.push(temp);
				}
				return dynamic;
			}

			function getConsultAnswer() {
				let dynamic = [];

				for(let i=0; i < <%= consultAsk.length %>; i++) {
					let temp = {}

					let what_type = document.getElementsByName("consultAskAnswer"+i)[0].type;
					if(what_type === 'radio') {
						let checkAnswer = $('input[name=consultAskAnswer'+i+']:checked').val();
						if(checkAnswer != undefined) temp.answer = $('input[name=consultAskAnswer'+i+']:checked').val();
						else {
							window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '답변하지 않은 질문이 있습니다.');
							$('input[name=consultAskAnswer'+i+']').focus();
							dynamic.length = 0;
							return null;
						}
					}
					else if(what_type === 'checkbox') {
						let checkAnswer = [];
						$('input:checkbox[name=consultAskAnswer'+i+']:checked').each(function() {
							checkAnswer.push($(this).val());
						});

						if(checkAnswer.length !== 0) temp.answer = checkAnswer.toString();
						else {
							window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '답변하지 않은 질문이 있습니다.');
							$('input:checkbox[name=consultAskAnswer'+i+']').focus();
							dynamic.length = 0;
							return null;
						}
					}
					else if(what_type === 'textarea') {
						let txt = $('[name=consultAskAnswer'+i+']').val();
						if(txt !== "") temp.answer = $('[name=consultAskAnswer'+i+']').val();
						else {
							window.flutter_inappwebview.callHandler('mobileHandler', 'alert', '답변하지 않은 질문이 있습니다.');
							$('[name=consultAskAnswer'+i+']').focus();
							dynamic.length = 0;
							return null;
						}
					}
					temp.question = $('#consultAskVal'+i).val();
					dynamic.push(temp);
				}
				return dynamic;
			}
		</script>
	</body>
</html>