<!DOCTYPE html>
<html>
	<head>
		<title>유한대학교 학생상담센터</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<script src="/js/jquery-latest.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			body,html{
                height: 100% !important;
				width: 100% !important;
				margin: 0 !important;
				padding: 0 !important;
            }
			.form-question{
				margin-top:30px;
				margin-bottom:10px;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row" style="height:60px; margin-bottom:20px;">
				<div class="col align-self-center">
					<label style="font-size:180%;">만족도조사</label>
				</div>
			</div>
			<form method="POST" id="formList">
				<div style="form align-self-center">
					<input type="hidden" value="<%=serial[0].serialno%>" name="reservationNo">
					<% for(let i=0; i<testAsk.length; i++){ %>
						<div class="form-group">
							<div class="form-group form-question">
								<label id="satisfaction<%=i%>"><b><%= unescape(testAsk[i].ask) %></b></label><br/>
								<input type="hidden" value="<%=testAsk[i].askno%>" id="satisfactionVal<%=i%>"/>
							<% if(testAsk[i].choicetypename === "Radio"){ %>
								<% for(let j=0; j<testAsk[i].choices.split('|').length; j++){ %>
								<input type="radio" class="from-input mb-4" name="satisfactionAnswer<%=i%>"
									   id="<%= 'mentalAnswer'+i+j %>" value="<%= testAsk[i].choices.split('|')[j] %>">
								<label for="<%= 'mentalAnswer'+i+j %>"><%= unescape(testAsk[i].choices.split('|')[j]) %></label><br/>
								<% } %>
							<% } %>
							<% if(testAsk[i].choicetypename === "Check"){ %>
								<% for(let j=0; j<testAsk[i].choices.split('|').length; j++){ %>
								<input type="checkbox" class="from-input mb-4" name="satisfactionAnswer<%=i%>"
									   id="<%= 'mentalAnswer'+i+j %>" value="<%= testAsk[i].choices.split('|')[j] %>">
								<label for="<%= 'mentalAnswer'+i+j %>"><%= unescape(testAsk[i].choices.split('|')[j]) %></label><br/>
								<% } %>
							<% } %>
							<% if(testAsk[i].choicetypename === "Normal"){ %>
								<textarea class="form-control mb-4" placeholder="자유롭게 작성해 주세요." name="satisfactionAnswer<%=i%>"
										  id="<%= 'mentalAnswer'+i %>" style="resize:none;"></textarea>
							<% } %>
							</div>
						</div>
					<% } %>
					<input type="hidden" id="Fulldata" name="Fulldata" value="">
						<input type="button" class="btn btn-primary pull-right" value="답변완료" id="btnSuccess" style="padding:.300rem .60rem;">
						<br/>
						<br/>
						<br/>
				</div>	
			</form>
		</div>
		<script>
			const windowHeight = window.innerHeight;
			
			$("#btnSuccess").click(function(e) {
				let temp = getMentalAnswer();
				if(temp != undefined && temp != null){
					$('#Fulldata').val(JSON.stringify(temp));
					$("#formList").submit();
					alert("답변이 완료되었습니다.");
				}
			});
			
			function getMentalAnswer() {
				let dynamic = [];

				for(let i=0; i < <%= testAsk.length %>; i++) {
					let temp = {}

					let what_type = document.getElementsByName("satisfactionAnswer"+i)[0].type;
					if(what_type === 'radio') {
						let checkAnswer = $('input[name=satisfactionAnswer'+i+']:checked').val();
						if(checkAnswer != undefined) temp.answer = $('input[name=satisfactionAnswer'+i+']:checked').val();
						else {
							alert('답변하지 않은 질문이 있습니다.');
							$('input[name=satisfactionAnswer'+i+']').focus();
							dynamic.length = 0;
							return null;
						}
					}
					else if(what_type === 'checkbox') {
						let checkAnswer = [];
						$('input:checkbox[name=satisfactionAnswer'+i+']:checked').each(function() {
							checkAnswer.push($(this).val());
						});

						if(checkAnswer.length !== 0) temp.answer = checkAnswer.toString();
						else {
							alert('답변하지 않은 질문이 있습니다.');
							$('input:checkbox[name=satisfactionAnswer'+i+']').focus();
							dynamic.length = 0;
							return null;
						}
					}
					else if(what_type === 'textarea') {
						let txt = $('[name=satisfactionAnswer'+i+']').val();
						if(txt !== "") temp.answer = $('[name=satisfactionAnswer'+i+']').val();
						else {
							alert('답변하지 않은 질문이 있습니다.');
							$('[name=satisfactionAnswer'+i+']').focus();
							dynamic.length = 0;
							return null;
						}
					}
					temp.question = $('#satisfactionVal'+i).val();
					dynamic.push(temp);
				}
				return dynamic;
			}
			
			window.onresize = function(event) {
				if(window.innerHeight === windowHeight) document.activeElement.blur();
				else document.activeElement.scrollIntoView({block: "center"});
			};

			$('input[type="text"]').focus(function(){
				document.activeElement.scrollIntoView({block: "center"});
			});

			$('textarea').focus(function(){
				document.activeElement.scrollIntoView({block: "center"});
			});
		</script>
	</body>
</html>